

#ghost-type {
    margin-bottom: 20px;
}

#questions-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.question-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 45%;
}

.checkbox-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
}



.checkbox-wrapper input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.checkbox-wrapper label {
    font-size: 14px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.checkbox-wrapper label:hover {
    background-color: #333;
}

.checkbox-wrapper input[type="checkbox"]:checked + label {
    background-color: #2e7d32;
}

.checkbox-wrapper label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: #444;
    transition: background-color 0.3s;
}

.checkbox-wrapper input[type="checkbox"]:checked + label::before {
    background-color: #2e7d32;
}

