body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
}

#navbar {
    background-color: #000000;
    color: white;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    -webkit-app-region: drag;
}

#navbar-title {
    font-size: 20px;
    font-weight: bold;
}

#navbar-buttons {
    -webkit-app-region: no-drag;
    display: flex;
    gap: 10px;
}

.navbar-button {
    -webkit-app-region: no-drag;
    background-color: #000000;
    color: white;
    border: 1px solid #2e2e2e;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-button:hover {
    background-color: #303030;
    border-color: #2e2e2e;
}

.navbar-update-button {
    -webkit-app-region: no-drag;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid #ececec;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-update-button:hover {
    background-color: #f0f0f0;
    border-color: #dcdcdc;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #121212;
    border-radius: 10px;
}

#intro-card {
    padding: 30px;
    background-color: #252525;
    background-image: url("https://cdn.discordapp.com/attachments/1271882983980142763/1274460438498902067/photo-1672798614484-ac25e99aaf00.jpg?ex=66c25546&is=66c103c6&hm=7474833c983f7fbf098db6dde045033f15576f092257cab68d4c872bca1ae801&");
    border-radius: 30px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

#intro-section h2 {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin: 0;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.button {
    text-decoration: none;
    background-color: #1e88e5;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 16px;
    display: inline-block;
}

.button:hover {
    background-color: #155a8a;
}

.plugins {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0 20px;
}

.card {
    flex: 1 1 190px;
    max-width: 300px;
}

.box {
    padding: 15px;
    background-color: #2c2c2c;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
}

.box-title {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 0.6px;
}

.box-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.box-description {
    font-size: 14px;
    color: #e0e0e0;
    line-height: 1.6;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #666;
    transition: 0.4s;
    border-radius: 20px;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: #ffffff;
    transition: 0.4s;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

input:checked + .slider {
    background-color: #1e88e5;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.divider {
    border: 0;
    height: 1px;
    background: #555;
    margin: 20px auto;
    width: 80%;
}

#toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #001f0f;
    color: #40cc77;
    text-align: center;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    transform: translateX(-50%);
}

.toast-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.toast-text {
    flex: 1;
}

#toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

/*Settings Bölümü*/

.settings-card {
    width: 100%;
    max-width: 800px;
    background-color: #000000;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: #ffffff;
    border: 2px solid #000000;
    max-height: 600px;
    position: relative;
    overflow: hidden;
}

.settings-content {
    max-height: 100%;
    overflow-y: auto;
    padding-right: 15px;
}

.settings-content::-webkit-scrollbar {
    width: 12px;
}

.settings-content::-webkit-scrollbar-track {
    background: #2c2c2c;
    border-radius: 8px;
}

.settings-content::-webkit-scrollbar-thumb {
    background: #1e88e5;
    border-radius: 8px;
    border: 3px solid #1e1e1e;
}

.settings-content::-webkit-scrollbar-thumb:hover {
    background: #1558b1;
}

.settings-section {
    margin-bottom: 20px;
}

.settings-section h3 {
    font-size: 22px;
    margin-bottom: 12px;
    color: #ffffff;
    font-weight: 600;
    border-bottom: 2px solid #444;
    padding-bottom: 8px;
}

.settings-option {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 8px;
    background-color: #2c2c2c;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.settings-option:hover {
    background-color: #3c3c3c;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.settings-option:active {
    background-color: #333333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.settings-option label {
    font-size: 16px;
    margin-right: 15px;
    color: #e0e0e0;
}

.toggle-switch {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 60px;
    height: 30px;
    margin-left: auto;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #555;
    transition: .4s;
    border-radius: 15px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    border-radius: 50%;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(30px);
}

#progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
    height: 8px;
    position: relative;
}

#progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    height: 8px;
    position: relative;
}

#progress {
    height: 100%;
    background-color: #4caf50;
    transition: width 0.3s ease-in-out;
}

/* Error Container */
#error-container {
    background-color: #f8d7da; /* Light red background */
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 25px; /* More rounded corners */
    color: #721c24;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the text */
    box-sizing: border-box;
    width: 100%;
    max-width: 400px; /* Max width for the container */
    height: 50px; /* Fixed height for a line-like appearance */
    position: fixed;
    left: 50%;
    bottom: 20px; /* 20px from the bottom */
    transform: translateX(-50%); /* Center horizontally */
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    background-color: #000000; /* Toast background color */
    color: #40cc77; /* Toast text color */
}

/* Toast Text */
#error-message p {
    margin: 0;
    font-size: 16px;
}

/* Update Button Removed */
/* Removed the button styling as it's no longer needed */

@media (max-width: 768px) {
    #error-container {
        width: 90%;
        max-width: 90%;
        bottom: 10px;
    }
}

/* Toast Notification */
#toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #000000; /* Dark background for the toast */
    color: #40cc77;
    text-align: center;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 20px;
    font-size: 17px;
    border-radius: 25px; /* More rounded corners for the toast */
    display: flex;
    align-items: center;
    gap: 10px;
    transform: translateX(-50%);
}

/* Toast Show */
#toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}


/* styles.css */

/* Position the notification messages at the top center */
#notification-container {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: auto;
    max-width: 300px;
    background-color: rgba(0, 0, 0, 0.7); /* Slightly transparent black background */
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 12px; /* Smaller font size */
}

/* Optional: Add some styles for notifications based on their type */
.notification.success {
    background-color: rgba(0, 128, 0, 0.7); /* Green background for success */
}

.notification.error {
    background-color: rgba(255, 0, 0, 0.7); /* Red background for error */
}

.notification.info {
    background-color: rgba(0, 0, 255, 0.7); /* Blue background for info */
}

/* Adjust the error message and button */
#error-container {
    margin-top: 20px;
    text-align: center;
}

#error-message {
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px; /* Smaller font size */
}

#error-message button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#error-message button:hover {
    background-color: #cc0000;
}

/* Centered switch container adjustments */
.centered-switch-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.switch-container {
    display: flex;
    align-items: center;
}

.switch-label {
    margin-right: 10px;
}

/* Keyframes for entrance animation */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Keyframes for exit animation */
@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

/* Additional fade-in and fade-out animations for smoother transitions */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* src/styles.css */

/* Center the switch container */
.centered-switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Adjust as needed */
}

/* Create a square with rounded corners */
.switch-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px; /* Fixed square width */
    height: 150px; /* Fixed square height */
    border-radius: 15px; /* Rounded corners */
    background-color: #000000; /* Background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
    padding: 10px;
}

/* Position the label above the switch */
.switch-label {
    margin-bottom: 10px; /* Space between label and switch */
    font-size: 1.2em;
    text-align: center;
}

/* Style the switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.toast-container {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .toast-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .toast-container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    font-size: 16px;
  }
  
  .toast-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  